<div class="parent">
  <!-- Cards -->
  <div class="cards">
    <div>
      <h1 class="text-3xl font-bold underline mb-2">Cards</h1>
      <app-card></app-card>
    </div>
  </div>

  <!-- Inputs -->
  <div class="inputs">
    <div>
      <h1 class="text-3xl font-bold underline mb-2">Forms</h1>
      <app-input></app-input>
    </div>
  </div>

  <!-- Buttons -->
  <div class="buttons">
    <div class="flex flex-col gap-10">
      <div class="defaults">
        <h2 class="text-xl font-bold underline">Buttons!</h2>
        <!-- Tailwind Button -->
        <app-button color="primary" [name]="'Tailwind Only'"></app-button>
        <!-- Dynamic Button / No Hover FX-->
        <app-button [buttonBg]="'#333'" [name]="'Dynamic Button'"></app-button>
        <!-- Dynamic Tailwind Button / Hover FX-->
        <app-button
          color="secondary"
          [borderColor]="'2px solid black'"
          [name]="'Mekus Both'"
        ></app-button>
      </div>
      <div class="defaults">
        <h2 class="text-xl font-bold underline">With Icons!</h2>
        <div class="defaults">
          <app-button
            color="warning"
            [name]="'Icon Right'"
            [icon]="'right'"
          ></app-button>
          <app-button
            color="secondary"
            [name]="'Icon Left'"
            [icon]="'left'"
          ></app-button>
          <app-button
            [buttonBg]="'#2323f1'"
            [name]="'Icon Both'"
            [icon]="'both'"
          ></app-button>
        </div>
      </div>
    </div>
  </div>
</div>
