<nav class="bg-gray-800 py-2">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div
        class="flex flex-col items-center w-full sm:flex-col sm:items-center lg:flex-row justify-between"
      >
        <div class="flex flex-shrink-0 items-center">
          <a href="/" class="text-white text-lg font-bold">TilwendSi-eses</a>
        </div>
        <div class="flex space-x-4">
          <a
            routerLink="/buttons"
            class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            >Buttons</a
          >
          <a
            routerLink="/cards"
            class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            >Cards</a
          >
          <a
            routerLink="/inputs"
            class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
            >Inputs</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
