<button
  [ngClass]="'bg-' + color"
  [style.border]="borderColor"
  [style.color]="textColor"
  [style.background]="buttonBg"
  class="flex items-center justify-center"
>
  <div
    class="flex align-center justify-between gap-3"
    *ngIf="icon != 'both'; else elseBlock"
  >
    <ng-container *ngIf="icon == 'left'; else elseBlock">
      <div [innerHtml]="iconLeft" class="flex items-center"></div>
    </ng-container>
    {{ name }}
    <ng-container *ngIf="icon == 'right'; else elseBlock">
      <div [innerHtml]="iconRight" class="flex items-center"></div>
    </ng-container>
  </div>

  <div
    class="flex items-center justify-between gap-3"
    *ngIf="icon == 'both'; else elseBlock"
  >
    <ng-container>
      <div [innerHtml]="bothRight" class="flex items-center"></div>
    </ng-container>
    {{ name }}
    <ng-container>
      <div [innerHtml]="bothLeft" class="flex items-center"></div>
    </ng-container>
  </div>
  <ng-template #elseBlock></ng-template>
</button>
